mixin primary-button(text)
    .primary-button
        button.primary-button-item #{text}          
mixin secondary-button(text)
    .secondary-button
        a(href="#").secondary-button-item #{text}             
mixin file-button(text)
    .file-button
        button.file-button-item #{text}           
mixin watch-button(text)             
    .watch-button
        a(href="#").watch-button-item #{text}
mixin delete-button(text)             
    .delete-button
        button.delete-button-item #{text}
mixin pagination-button(text)             
    .pagination-button
        a(href="#").pagination-button-item #{text}
mixin post-pagination-button(text1, text2)             
    .post-pagination-button
        a(href="#").post-pagination-button-item.post-pagination-button-item--left #{text1}
        a(href="#").post-pagination-button-item #{text2}