mixin header-menu(item1, link1, item2, link2, item3, link3, item4, link4)
    nav.header-nav
        ul.header-nav_items
            li.header-nav_item 
                a(href=link1) #{item1}
            li.header-nav_item 
                a(href=link2) #{item2}
            li.header-nav_item 
                a(href=link3) #{item3}
            li.header-nav_item 
                a(href=link4) #{item4}
                